<div class="container">
    <h1>Quotes</h1>
    <hr>
    <app-quote-form></app-quote-form>


    <ul>
      <div *ngFor="let quote of quotes, let i = index">
        <li> {{ quote.quoteText }} </li>
        <button class="btn" (click) = toggleQuoteDetails(i) type="button">Show Details</button>
        <app-quote-detail *ngIf="quote.showDescription" 
                            [quote]="quote"
                            (isComplete)="deleteQuote($event,i)"></app-quote-detail>
      </div>
    </ul>
