<div class="container">
    <p>
        - {{ quote.authorName }} -
        <br>
        posted by: {{ quote.submittedBy }}
        <br>
        {{ quote.like }} <button class="btn" (click)="onLike(upvotes, quote)"><fa-icon [icon]="faHeart"></fa-icon></button>
        {{ quote.dislike }} <button class="btn" (click)="onDislike(downvotes, quote)"><fa-icon [icon]="faHeartCrack"></fa-icon></button>
        <br>
        {{ quote.postDate | date }}
        <br>
        <button class="btn" (click)="quoteDelete(true)"><fa-icon [icon]="faTimes"></fa-icon></button>
    </p>

</div>